# site properties and page defaults
title: Guangdong-Blockchain-Centre
subtitle: 
description: Qiang Qu is a Principal Investigator and Full Professor at the Shenzhen Institutes of Advanced Technology (SIAT), Chinese Academy of Sciences.
He serves as the Director of the **Guangdong Provincial Blockchain and Distributed IoT Security Engineering Research Centre** and Deputy Director of the **Shenzhen Key Laboratory on High-performance Data Mining**. 
He is a Senior Member of the China Computer Federation (CCF).
header: images/background.jpg
footer: images/background.jpg
proofer: false

# site social media and other links
links:
  email: qiang@siat.ac.cn
  orcid: 0000-0001-8713-9213
  google-scholar: ETJoidYAAAAJ
  github: Guangdong-Blockchain-Centre
  twitter: Guangdong-Blockchain-Centre
  youtube: Guangdong-Blockchain-Centre

### jekyll settings

# front matter defaults
defaults:
  # all markdown files
  - scope:
      path: ""
    values:
      layout: default
  # markdown files in /_members
  - scope:
      type: "members"
    values:
      layout: member
  # markdown files in /_posts
  - scope:
      type: "posts"
    values:
      layout: post

collections:
  # generate page for each member
  members:
    output: true
  # generate page for each post
  posts:
    output: true

# jekyll plugins
plugins:
  - jekyll-spaceship
  - jekyll-sitemap
  - jekyll-redirect-from
  - jekyll-feed
  - jekyll-last-modified-at

# code block syntax highlighting
highlighter: rouge

# jekyll theme
theme: null

# sass settings
sass:
  sass_dir: _styles

# force jekyll to include certain files/folders
include:
  - _styles
  - _scripts

# force jekyll to exclude certain files/folders
exclude:
  - README.md
  - LICENSE.md
  - CITATION.cff
